<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
  
<!-- Add your site or application content here -->
<header>
    <div class="container">
    <a href="/" class="logo-wrap">
    <span class="logo"></span>
    </a>
    <div class="toggle-nav"></div>

        <nav>
            <ul>
                <li><a class="ajax-call" href="http://isc-host.github.io/suriyaa.me" id='index'>Home</a></li>
                <li><a class="ajax-call" href="http://isc-host.github.io/suriyaa.me/resume/" id='resume'>Resume</a></li>
                <li><a class="ajax-call" href="http://isc-host.github.io/suriyaa.me/about/" id='about'>About</a></li>
                <li><a class="ajax-call" href="http://isc-host.github.io/suriyaa.me/contact/" id='contact'>Contact</a></li>
                <div id="loadingbar-frame"></div>
            </ul>
        </nav>

    </div>
</header>
